:root {
    --midnight-green: #093a3eff;
    --pine-green: #05716aff;
    --persian-green: #00a896ff;
    --mint: #78ceaaff;
    --cream: #f0f3bdff;

    
}

.bg-principal{
    background-color: var(--midnight-green);
}

.bg-secundario{
    background-color: var(--pine-green);
}

.btn-principal{
    background-color: var(--midnight-green);
}
.btn-principal:hover{
    background-color: var(--persian-green);
    border-color:transparent;
}

.img-cover{
    object-fit: cover;
    height: 75%;
    
}

body{
    background-color: var(--midnight-green);
}

.chosen-container .chosen-results li {
    font-size: 16px; /* Establece el tamaño de la fuente dentro del control de selección */
}
  
.chosen-container{
    font-size: 16px;
    width: 100% !important;
}

/* Estilo para los elementos seleccionados */
.chosen-container-multi .chosen-choices li.search-choice {
    font-size: 16px; /* Tamaño de la fuente para los elementos seleccionados */
}