<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
    <link href="../public/css/main.css" rel="stylesheet">
    <link href="../public/css/navbar.css" rel="stylesheet">
    <title>Administrar usuarios</title>
</head>
<body>
  <div id="app-nav">
    <navbar :rol="rol"></navbar>
  </div>
    <div class="container bg-light my-2 border-r-1 card-shadow" id="app-miembros">
        <div class="container-fluid d-flex">
            <h2 class="fw-bold p-4"> Administrar usuarios </h2>
            <div class="d-flex align-items-center ms-auto">
                <select class="form-select" v-model="idComunidad" id="idComunidad" name="idComunidad" required>
                    <option value="" selected disabled hidden>Seleccione comunidad</option>
                    <option v-for="comunidad in comunidades" :value="comunidad.id">
                        {{ comunidad.nombre }}
                    </option>
                </select>
            </div>
        </div>

        <form-tipo-miembro @get-comunidad="getComunidad" v-if="idComunidad > 0"></form-tipo-miembro>

        <div class="container-fluid pb-1">
            <miembros :comunidad="comunidad" :tipo_miembro="tipo_miembro" @eliminar-miembro="setMiembro"></miembros>
        </div>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar miembro</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Realmente desea eliminar el miembro de la comunidad?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @click="eliminar(miembro)">Eliminar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="module" src="../public/js/vue.js"></script>
    <script src="../public/js/modal.js"></script>
    <script src="../public/js/administracionUsuarios.js"></script>
  </body>
</html>