/* CSS HEX */
/*
--midnight-green: #093a3eff;
--pine-green: #05716aff;
--persian-green: #00a896ff;
--mint: #78ceaaff;
--cream: #f0f3bdff;

CSS HSL
--midnight-green: hsla(185, 75%, 14%, 1);
--pine-green: hsla(176, 92%, 23%, 1);
--persian-green: hsla(174, 100%, 33%, 1);
--mint: hsla(155, 47%, 64%, 1);
--cream: hsla(63, 69%, 85%, 1);
*/