<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ranking TI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div id="main-dib">
    <div class="container bg-light my-2 border-r-1 card-shadow">
        <h2 class="fw-bold p-4"> Ranking De Promedio de Tiempos de Cierre de incidentes</h2>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Posicion</th>
                <th>Entidad</th>
                <th>Promedio Tiempos de Cierre de incidentes (seg)</th>
            </tr>
            </thead>

            <tbody>
            {{#resultadosRanking}}
                <tr>
                    <td>{{posicion}}° </td>
                    <td>{{entidad.nombre}} </td>
                    <td>{{tiempoCierre}} </td>
                </tr>
            {{/resultadosRanking}}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>